# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.html
coverage.out
coverage.html

# Dependency directories (remove the comment below if you want to ignore vendor directory)
# vendor/

# Go workspace file
go.work
